{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.min.js"></script>
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
    <style>
        body {
          background-color: #EEE;
        }
    </style>
</head>
<body>
    <!-- p5로 제작한 sketch js -->
    <script src="/static/js/sketch.js"></script>
    <h1>DoodleNet</h1>
    <button id="clearBtn">Clear Canvas</button>
    <p><span id="label"></span> (<span id="confidence"></span>%)</p>
</body>
</html>