{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header" style="background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{%static 'img/home-bg.jpg'%}')">
  <div class="title">  
    <h1>Music for you</h1>
    <h3>Make your own music</h3>
    <a><button type="button">Let's Start →</button></a>
  </div>
</div>

<div class="services">
  servcie영역입니다.
</div>

<div class="about">
  about 영역입니다.
</div>

<div class="contact">
  contact 영역입니다.
</div>
{% endblock content %}